.menu-container{
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
background-color:white;
     box-shadow: 2px 2px 2px 2px gray;
     height: 25%;
    width: 10%; 
}
.option{
    margin-top: 17px;
    height: 100%;
    width: 100%;
    margin-left: 40px;
    align-items: center;
    /* justify-content: center;  */
    display: flex;
    cursor: pointer;
     /* background-color: pink; */
}
