.employee-container{
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}


.card-container{
    height: 30%;
    width: 40%;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    flex-direction: row;
    /* background-color:red; */
    margin-left: 10px;
}
.card-image{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(50deg,#ff6ec4,#7873f5);
}
.profile{
    height: 60%;
    width: 80%;
    /* background-color: #ff6ec4; */
}
.card-data{
    /* background-color: blueviolet; */
    height: 100%;
    width:75% ;
    display: flex;
    flex-direction: column;
}
 .emp-bar{
    display: flex;

    height: 25%;
    width: 100%;
    /* background-color: #ff6ec4; */
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;
} 

.emp-name{
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
}
.emp-card-body{
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: row;
    /* background-color: pink; */
}
.emp-data{
    height: 100%;
    width: 65%;
    /* background-color: blue; */
}
.data{
    margin-top: 5px;
}

img{
    height: 50%;
    width: 50%;
    border-radius: 100%;
}
.menu-icon{

    height:100%;
    width:20%;
    display: flex;
    justify-content: end;
    /* background-color: aqua; */
    align-items: center;
}

.menu-icon :hover{
    border-radius: 100%;
    background-color:lightgray;
}
.menus{
    height: 100%;
    width: 35%;
    /* background-color: aqua; */
}
.icon{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}